{% extends "base.html" %}

{% block content %}
    <header><h1>Register</h1></header>
    <section class="create-user-form">
        <form method="post">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="name@company.xxx"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </section>
{% endblock %}